[run]
source = restview
omit = src/restview/__main__.py

[report]
exclude_lines =
    pragma: nocover
    except ImportError:
    except NameError:
    if __name__ == '__main__':
    def test_suite[(][)]:
