body {
    font-family: Verdana, sans;
    margin: 1em;
}
p {
    text-align: justify;
}
dt {
    font-weight: bold;
}
dd {
    margin-bottom: 1em;
}
pre.doctest-block {
    color: #008000;
}
pre.literal-block {
    color: #AA4400;
    margin-left: 40px;
}
