include sample.rst
include src/restview/favicon.ico
include src/restview/*.xcf
include src/restview/*.css
include Makefile
include *.rst
include tox.ini
include .coveragerc
include *.yml
include .gitignore
include LICENSE

# added by check_manifest.py
include *.mk
