/*
 * Stylesheet overrides for ReSTview
 */

/* Some breathing space for the text */

body {
    margin: 3em;
    max-width: 50em;
}

/* Monospace text */

tt {
    color: #234F32;
}

/* Doctest blocks */

blockquote > pre.doctest-block {
    margin-left: 0;
}

/* Literal blocks */

pre.literal-block {
    color: #AA4400;
}

/* Block quotations */

blockquote {
    margin-left: 2em;  /* to match with pre.code et al */
    margin-right: 2em;
}

/* Code blocks */

pre.code {
    background: inherit;
}

/* Footnotes */

a.footnote-reference,
a.fn-backref {
    font-size: xx-small;
    vertical-align: super;
    line-height: normal;
    text-decoration: none;
}
a.footnote-reference:hover,
a.fn-backref:hover {
    text-decoration: underline;
}

table.footnote {
    border: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 20px;
    margin-right: 0.5em;
    font-size: small;
}
table.footnote td {
    border: none;
    padding-top: 1em;
    padding-left: 0px;
}
table.footnote tr:first-child > td.label {
    border-top: 1px solid #eee;
    padding-left: 20px;
    padding-right: 20px;
}

table.footnote + table.footnote {
    margin-top: 0;
}
table.footnote + table.footnote td {
    border: none;
    padding-top: 0;
}

/* System messages (aka errors) */

div.system-messages h1 {
    color: red;
}
div.system-message {
    border: none;
    border-left: 1ex solid red;
    margin-left: -3em;
    margin-top: 0;
    padding-left: 4.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: red;
    background: #fff8f8;
}
div.system-message p.system-message-title {
    margin-top: 0;
    font-weight: bold;
}
